<div id="passwordSetModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close-button"><i data-lucide="<%= emojiToLucide('×') %>"></i></span>
    <h3>合言葉の設定</h3>
    <p>合言葉を設定すると、他の人があなたのアカウントを使うのを防げます。</p>
    <div class="input-group">
      <label for="newPasswordInput">新しい合言葉:</label>
      <input type="password" id="newPasswordInput" placeholder="4文字以上" />
    </div>
    <div class="modal-actions">
      <button id="deleteUserPasswordButton" class="secondary-btn danger action-left" style="display: none;">合言葉を削除する</button>
      <button id="savePasswordButton" class="primary-action">設定する</button>
    </div>
  </div>
</div>