<div id="passwordResetRequestModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close-button"><i data-lucide="<%= emojiToLucide('×') %>"></i></span>
    <h3>合言葉リセット依頼</h3>
    <ul id="passwordResetRequestList" class="item-list"></ul>
  </div>
</div>