<div id="prizeMasterModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close-button"><i data-lucide="<%= emojiToLucide('×') %>"></i></span>
    <h3>賞品マスター管理</h3>
    <div class="input-group">
      <label for="addMasterPrizeNameInput" class="visually-hidden">新しい賞品名</label>
      <input type="text" id="addMasterPrizeNameInput" placeholder="新しい賞品名" />
      <label for="addMasterPrizeImageInput" class="visually-hidden">賞品画像ファイル</label>
      <input type="file" id="addMasterPrizeImageInput" accept="image/*" />
      <div class="modal-actions">
        <button id="addMasterPrizeButton" class="primary-action">マスターに追加</button>
      </div>
    </div>
    <ul id="prizeMasterList" class="item-list prize-master-list"></ul>
  </div>
</div>