<div id="summaryModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close-button"><i data-lucide="<%= emojiToLucide('×') %>"></i></span>
    <h3>景品集計</h3>
    <p>合計: <span id="totalPrizes"></span>個</p>
    <ul id="prizeSummaryList"></ul>
  </div>
</div>