#bulk-step2-preview .tabs {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 15px;
}

#bulk-step2-preview .tab-link {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
}

#bulk-step2-preview .tab-link.active {
  border-bottom-color: var(--primary-color);
  font-weight: bold;
}

#bulk-step2-preview .tab-content {
  display: none;
}

#bulk-step2-preview .tab-content.active {
  display: block;
}