<h2>システム管理ダッシュボード</h2>
<div class="controls">
  <h3>管理者申請一覧</h3>
  <ul id="pendingRequestsList" class="item-list"></ul>
</div>
<div class="controls">
  <h3>グループ管理者一覧</h3>
  <ul id="adminUserList" class="item-list"></ul>
</div>
<div class="controls">
  <h3>システム管理者一覧</h3>
  <ul id="systemAdminList" class="item-list"></ul>
</div>