<div class="event-header">
  <button id="backToDashboardFromEventListButton" style="display: none;"></button>
</div>
<h2 id="groupEventListName">イベント一覧を読み込んでいます...</h2>
<ul id="groupEventList" class="item-list"></ul>