<h2>マイグループ一覧</h2>
<div class="controls">
  <div class="input-group">
    <label for="groupNameInput" class="visually-hidden">新しいグループ名</label>
    <input type="text" id="groupNameInput" placeholder="新しいグループ名" />
    <button id="createGroupButton">グループ作成</button>
  </div>
</div>
<ul id="groupList" class="item-list"></ul>
<div class="controls" style="margin-top: 20px" id="requestAdminControls">
  <button id="requestAdminButton" style="display: none">管理者権限を申請する</button>
</div>