<header class="participant-header" id="participantHeader" style="display: none;">
  <div class="header-content-wrapper">
    <div id="participant-header-logged-out" style="display: none;">
      <div class="participant-header-actions">
        <button id="participantDashboardButtonLoggedOut">ダッシュボード</button>
        <button id="participantLoginButton" class="primary-action">参加者ログイン</button>
      </div>
    </div>
    <div id="participant-header-logged-in" style="display: none;">
      <%# ▼▼▼ spanをdivに変更 ▼▼▼ %>
      <div id="participantWelcomeMessage">ようこそ、〇〇さん</div>
      <div class="participant-header-actions">
        <button id="participantDashboardButton">ダッシュボード</button>
        <button id="participantProfileButton">プロフィール</button>
        <button id="headerParticipantLogoutButton" class="secondary-btn">ログアウト</button>
      </div>
    </div>
  </div>
</header>